################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EcommerceMVC/obj/Debug/

/EcommerceMVC/obj/
/.vs
/bin
/bin/
/EcommerceMVC/bin/Debug/net6.0
