################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EcommerceMVC/obj/Debug/

/EcommerceMVC/obj/
/.vs
